/*---------------------------------------------
Component - Footer
---------------------------------------------*/
.numero-footer {
  text-align: center;
  padding: 2rem 0;
  background-color: $cl-white;
  color: $cl-black;
  &__nav {
  }
  &__nav-items {
    max-width: 22rem;
    margin: 0 auto;
    padding: 1rem 0;
  }
  &__nav-item {
    a {
      text-decoration: none;
      color: $cl-black;
      font-weight: 700;
    }
    img {
      width: 2rem;
    }
  }
}
