/*---------------------------------------------
Component - Header
---------------------------------------------*/

.numero-header {
  padding: 0.5rem 0;
  box-shadow: 0px 0px 4px $cl-black;
  background-color: $cl-white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 30;
  a:not(.logo) {
    color: $cl-black;
    &:hover {
      color: $cl-blue;
    }
    @media screen and (min-width: 768px) {
      color: $cl-black;
    }
  }

  #check {
    display: none;
  }

  &__logo {
    span {
      font-size: 2.5rem;
      color: $cl-black;
      font-family: $primary-font;
    }
    img,
    span {
      width: 3rem;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__check-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
    cursor: pointer;
  }

  &__bar {
    display: block;
    width: 2rem;
    height: 3px;
    border-radius: 1px;
    background: $cl-black;
    margin: 3px 0;
  }

  &__navbar li {
    text-align: center;
    margin: 5vh 0;
    font-weight: 700;
  }

  &__navbar {
    display: none;
    background: $cl-white;
    color: $cl-black;
    position: absolute;
    top: 13%;
    right: -100%;
    width: 70%;
    border-radius: 10px 0 0 10px;
  }

  #check:checked ~ &__navbar {
    display: block;
    right: 0;
    animation: move-to-right 0.5s ease-in;
    @extend .card-box-shadow;
  }

  @keyframes move-to-right {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }

  #check:checked ~ &__check-btn > &__bar {
    position: absolute;
    right: 0;
  }

  #check:checked ~ &__check-btn > &__bar-1 {
    transform: rotate(45deg);
  }

  #check:checked ~ &__check-btn > &__bar-2 {
    display: none;
  }

  #check:checked ~ &__check-btn > &__bar-3 {
    transform: rotate(135deg);
  }

  @media screen and (min-width: 768px) {
    &__check-btn {
      display: none;
    }

    &__navbar {
      display: block;
      position: static;
      height: auto;
      padding-top: 0;
      background: transparent;
      width: auto;
      ul {
        display: flex;
      }
      li {
        margin: 0 0 0 1rem;
        width: 6.5rem;
      }
    }
  }
}
