/* Resets */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

:root {
  font-size: 12px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  padding: 1.3rem 2.4rem;
  text-transform: capitalize;
  display: block;
  margin: 0 auto;
  color: #ffecec;
  border-radius: 5px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

input:focus {
  outline: none;
}

.padding {
  padding: 30px;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 3, 3, 0.502)), to(rgba(6, 1, 49, 0.5))), url(../media/photo-1532604146921-0e8bd9ab0891.jpg);
  background: linear-gradient(to right, rgba(37, 3, 3, 0.502), rgba(6, 1, 49, 0.5)), url(../media/photo-1532604146921-0e8bd9ab0891.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 0;
}

header h1 {
  display: none;
  cursor: pointer;
  color: #ffecec;
}

header h1 ~ p {
  display: none;
  color: #ffecec;
  margin-top: 8px;
}

header .nav-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(37, 3, 3, 0.8)), to(rgba(6, 1, 49, 0.8)));
  background: linear-gradient(to right, rgba(37, 3, 3, 0.8), rgba(6, 1, 49, 0.8));
  padding-top: 11.25rem;
}

header .nav-bar .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .nav-bar .nav-item {
  padding: 1rem 0;
}

header .nav-bar .nav-item a {
  text-transform: capitalize;
  color: #ffecec;
}

header .nav-bar .btn {
  background: #005c80;
  -webkit-animation: none;
          animation: none;
}

header .toggle {
  cursor: pointer;
}

header #toggle {
  display: none;
}

header .fa-hamburger {
  color: #e7e7ff;
  position: relative;
  z-index: 10;
}

header .nav-bar {
  display: none;
}

header #toggle:checked ~ .nav-bar {
  display: inline-block;
}

header #toggle:checked ~ label .fa-hamburger:before {
  content: '\f00d';
  font-size: 2.5rem;
  color: #ffdddd;
}

.hero {
  text-align: center;
  padding-top: 8rem;
}

.hero form {
  text-align: center;
  margin-bottom: 80px;
}

.hero form input {
  display: block;
  margin: 0 auto;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffecec;
  padding: 1.2rem;
  color: #ffecec;
  margin-bottom: 25px;
}

.hero form input:nth-child(2n - 1) {
  -webkit-animation-name: slider-left;
          animation-name: slider-left;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero form input:nth-child(2n) {
  -webkit-animation-name: slider-right;
          animation-name: slider-right;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero form input::-webkit-input-placeholder {
  color: #ffecec;
  font-size: 1.2rem;
}

.hero form input:-ms-input-placeholder {
  color: #ffecec;
  font-size: 1.2rem;
}

.hero form input::-ms-input-placeholder {
  color: #ffecec;
  font-size: 1.2rem;
}

.hero form input::placeholder {
  color: #ffecec;
  font-size: 1.2rem;
}

.hero form .btn {
  background-color: #770000;
  width: 100%;
}

.hero small {
  display: block;
  color: #ffecec;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
  margin: 0 auto 5px;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero .btn {
  background-color: #005c80;
  width: 100%;
}

#about {
  margin-top: 100vh;
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
  header nav .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  header nav .flex .nav-item {
    padding: 0.8rem 1.5rem !important;
  }
  header nav .flex .nav-item .btn {
    padding: 1rem 2rem;
    width: 130px !important;
  }
  header #toggle,
  header .toggle {
    display: none;
  }
  header .nav-bar {
    display: inline-block;
    position: relative;
    height: auto;
    padding-top: 0;
    background: transparent;
  }
  header .hero form,
  header .hero small,
  header .hero a {
    width: 300px !important;
  }
}

@media screen and (min-width: 580px) {
  :root {
    font-size: 14px;
  }
  header {
    background: -webkit-gradient(linear, left top, right top, from(rgba(37, 3, 3, 0.8)), to(rgba(6, 1, 49, 0.8))), url(../media/numero1.jpg);
    background: linear-gradient(to right, rgba(37, 3, 3, 0.8), rgba(6, 1, 49, 0.8)), url(../media/numero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.9rem 0;
  }
  header h1 {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    text-transform: capitalize;
  }
  header h1 ~ p {
    display: block !important;
    color: #ffecec;
  }
  header .hero form input {
    padding: 0.9rem;
    margin-bottom: 30px;
  }
  header .hero small {
    margin-bottom: 10px;
  }
  header .hero form,
  header .hero small,
  header .hero a {
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@-webkit-keyframes slider-left {
  0% {
    position: relative;
    left: -1000px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

@keyframes slider-left {
  0% {
    position: relative;
    left: -1000px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slider-right {
  0% {
    position: relative;
    right: -1000px;
    opacity: 0;
  }
  100% {
    position: relative;
    right: 0;
    opacity: 1;
  }
}

@keyframes slider-right {
  0% {
    position: relative;
    right: -1000px;
    opacity: 0;
  }
  100% {
    position: relative;
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */