// Variables

$cl-red: #da2c38;
$cl-violet: #b594b6;
$cl-blue: #3f88c5;
$cl-green: #2ecc40;
$cl-white: #e6e7ee;
$cl-black: #31344b;
$cl-grey: gray;
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Nunito", sans-serif;
