.add-view {
  background: $cl-white;
  padding: 20rem 0;
  .add-card-wrapper {
      @media screen and (min-width:1024px){
          @include grid-repeat(2, 300px, 1fr);
              column-gap: 2rem;
      }
      @media screen and (min-width:768px){
          @include grid-repeat(3, 300px, 1fr);
              column-gap: 2rem;
      }
  }
  .btn-hashtag {
      cursor: pointer;
  }
  .add-view-card {
      padding: 1.5rem 2rem;
      margin: 1rem 0;
      border-radius: 1.5rem;
      @extend .card-box-shadow;
      .add-btn-wraper {
          text-align: center;
      }
  }
  .add-view-icon {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 4.5rem;
      height: 4.5rem;
      @extend .icons-neu-effect;
      svg {
          width: 3rem;
      }
  }
  .add-option-wrapper {
      margin: 1rem 0;
      div {
          margin: 0.5rem 0;
      }
      input {
          margin-left: 1rem;
      }
  }
}