/*---------------------------------------------
Page - Add View
---------------------------------------------*/
.add-view {
  background: $cl-white;
  padding: 5rem 0;
  .add-card-wrapper {
    @include grid-repeat(auto-fit, 300px, 1fr);
              column-gap: 2rem;
  }
  .btn-hashtag {
    cursor: pointer;
  }
  .add-view-card {
      padding: 1.5rem 2rem;
      margin: 1rem 0;
      border-radius: 1.5rem;
      @extend .card-box-shadow;
      .add-btn-wraper {
          text-align: center;
          cursor: pointer;
      }
  }
  .add-view-icon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 4.5rem;
    height: 4.5rem;
    @extend .icons-neu-effect;
    svg {
      width: 3rem;
    }
  }
  .add-option-wrapper {
    margin: 1rem 0;
    div {
      margin: 0.5rem 0;
    }
    input {
      margin-left: 1rem;
    }
  }
  .add-view-info {
      text-align: center;
      max-width: 45rem;
      margin: 0 auto;
      padding: 3rem 1.5rem;
      h3 {
          font-family: $secondary-font;
          font-weight: 400;
          margin: 0 0 1rem 0;
      }
      p {
          padding: 0.2rem 0;
      }
  }
}
