/*---------------------------------------------
Page - Authentication confirmation
---------------------------------------------*/
.overlay-list-card {
  text-align: center;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 7rem 1rem 2rem 1rem;
  background: $cl-white;
  border-radius: 2rem;
  animation: overlay-animate 0.5s ease-in forwards;
  h3 {
    padding-bottom: 1rem;
  }
  a {
    color: $cl-blue;
  }
  label {
    padding: 0.8rem 1.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    @extend .btn-box-shadow;
    i {
      font-size: 2rem;
    }
    .fab {
      color: $cl-blue;
      padding-right: 1rem;
    }
    .fa-check-circle {
      padding-left: 1rem;
      display: none;
    }
  }
  .overlay-btn-wrapper {
    margin-top: 2rem;
  }
  .overlay-btn {
    display: inline-block;
    width: 8rem;
    margin: 0.5rem auto;
    padding: 1rem 1.5rem;
  }
}

#overlay {
  display: none;
}

.overlay-wrapper {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  label {
    font-size: 5rem;
    display: block;
    color: $cl-red;
    position: fixed;
    padding: 0 3rem;
    left: 0;
    top: 0;
  }
}

#overlay:checked ~ .overlay-unchecked > .overlay-wrapper {
  display: block;
  background: transparentize($cl-blue, 0.8);
  height: 100%;
  width: 100%;
}

@keyframes overlay-animate {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

#tick-instagram,
#tick-github,
#tick-twitter {
  display: none;
}

#tick-instagram:checked ~ .loged-in-instagram > .tick-mark {
  display: block;
}

#tick-github:checked ~ .loged-in-github > .tick-mark {
  display: block;
}

#tick-twitter:checked ~ .loged-in-twitter > .tick-mark {
  display: block;
}
