.overlay-list {
    text-align: center;
    max-width: 30rem;
    margin: 0.5rem auto;
    padding: 2rem;
    font-size: 1.5rem;
    background: $cl-white;
    border-radius: 2rem;
    flex-direction: column;
    a {
        color: $cl-blue;
    }
    li {
        padding: 0.8rem 1.5rem;
        margin: 1rem 0.5rem;
        border-radius: 1.5rem;
        cursor: pointer;
        @extend .btn-box-shadow;
        i {
            font-size: 2rem;
        }
        .fab {
            color: $cl-blue;
            padding-right: 1rem;
        }
        .fa-check-circle {
            padding-left: 1rem;
        }
    }
    .overlay-btn {
        display: inline-block;
        width: 8rem;
        margin: 0.5rem auto;
        padding: 1rem 1.5rem;
    }
}

.fa-facebook-square {
    color: #0674E8;
}

.fa-instagram-square {
    background: linear-gradient(45deg, #f0a028, #DD2A7B, #6945cc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}

.fa-linkedin {
    color: #0076B4;
}

.fa-github-square {
    color: #24292E;
}

.fa-twitter-square {
    color: #1DA1F2;
}

#overlay {
    display: none;
}

.overlay-wrapper {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    label {
        font-size: 5rem;
        display: block;
        color: $cl-red;
        position: fixed;
        right: 0;
    }
}

#overlay:checked ~ .overlay-unchecked > .overlay-wrapper {
    display: block;
    background: transparentize($cl-blue, 0.8);
    height: 100%;
    width: 100%;
}

// #facebook-checked {
//     display: none;
// }

// #facebook-checked:checked ~ .facebook-checked {
//     display: block;
// }