/*---------------------------------------------
 Page - dashboard
---------------------------------------------*/
.main-dashboard {
    background: $cl-white;
    padding: 10rem 0 4rem 0;
    .add-view-btn {
        @media screen and (min-width: 768px) {
            font-size: 1.5rem;
        }
        color: $cl-blue;
        font-size: 2rem;
        position: fixed;
        padding: 0.5rem 1rem;
        bottom: 4%;
        right: 5%;
        border-radius: 10px;
        background: lighten($cl-red, 30%);
        box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.144), -0.5rem -0.5rem 0.5rem rgba(255, 255, 255, 0.603);
        span {
            margin-left: 0.5rem;
            display: none;
            @media screen and (min-width: 768px) {
                display: inline-block;
                line-height: 1;
            }
        }
    }
}

.dashboard-description {
    text-align: center;
    padding-bottom: 1.5rem;
}

.dashboard {
    @media screen and (min-width: 768px) {
        @include grid-repeat(2, 330px, 1fr);
        column-gap: 2rem;
    }
}

.dashboard-card {
    background-size: 2% 100%;
    @extend .card-box-shadow;
    border-radius: 1.5rem;
    padding: 1rem 1rem 0 1rem;
    margin: 1rem 0;
    color: $cl-black;
    display: block;
    &:hover {
        @extend .card-hover-effect;
    }
    .dashboard-num-sec {
        flex-wrap: wrap;
        div {
            margin-bottom: 1rem;
            padding: 0 0.2rem;
        }
    }
    .dashboard-icon-sec {
        margin-bottom: 2rem;
        label {
            align-self: flex-start;
            cursor: pointer;
        }
        .fa-minus-circle {
            font-size: 1.7rem;
            color: $cl-red;
            &:hover {
                color: $cl-black;
            }
        }
        h3 {
            line-height: 1.9;
        }
    }
    .num-label {
        font-size: 2.4rem;
        line-height: 0.9;
    }
    i {
        font-size: 2.5rem;
        display: inline-block;
        margin-left: 0.5rem;
    }
    .fa-sort-up,
    .fa-sort-down {
        font-size: 1.5rem;
    }
    .fa-sort-down {
        height: 1.8rem;
        color: $cl-red;
    }
    .fa-sort-up {
        height: 1.2rem;
        color: $cl-green;
    }
}

.fa-slack-hash {
    color: $cl-blue;
}

#facebook-remove,
#instagram-remove,
#linkedin-remove,
#github-remove,
#twitter-remove,
#hashtag-remove {
    display: none;
}

#facebook-remove:checked ~ .facebook-dashboard-card,
#instagram-remove:checked ~ .instagram-dashboard-card,
#linkedin-remove:checked ~ .linkedin-dashboard-card,
#github-remove:checked ~ .github-dashboard-card,
#twitter-remove:checked ~ .twitter-dashboard-card,
#hashtag-remove:checked ~ .hashtag-dashboard-card {
    display: none;
}