/*---------------------------------------------
Team
---------------------------------------------*/
.team__info {
  position: relative;
  top: 100px;
  z-index: -1;
  padding-bottom: 6rem;
  // All cards section
  &__cards {
    margin: 1rem 0;
    img {
      width: 100%;
      display: block;
    }
  }
  // A single card
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    color: $cl-black;
    text-align: center;
    border-radius: 2%;
    small {
      margin-bottom: 0.5rem;
      font-weight: 700;
      font-size: 0.8rem;
    }
    h3 {
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
      font-weight: 400;
    }
    p {
      padding-bottom: 0.5rem;
    }
    .card {
      &__img {
        background-color: $cl-violet;
        img {
          opacity: 0.6;
        }
      }
      &__txt {
        padding: 1.5rem;
      }
      &__icons {
        display: flex;
        justify-content: space-around;
        a {
          font-size: 1.5rem;
          color: $cl-black;
        }
      }
    }
  }
  // The title
  &__heading {
    text-align: center;
    margin: 2rem 0;
  }
}
// Media Query
@media screen and (min-width: 768px) {
  .team {
    &__info__card {
      text-align: start;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 3rem;
    }
  }
}
