/*---------------------------------------------
Team
---------------------------------------------*/
.team-info{

    position: relative;
    top: 100px;
    z-index: -1;
        padding-bottom: 6rem;
   
 .card {
   border-radius: 50px;
   background: linear-gradient(145deg, #e5e5e5, #ffffff);
  box-shadow:  32px 32px 64px #969696, 
             -32px -32px 64px #ffffff;
      margin-bottom: 2rem;
      color: black;
      text-align: center;
    small{
        padding-bottom: .5rem;
        font-weight: bold;
        font-size: .7rem;
        
    }
    h3{
    font-size: 1.3rem;
    padding-bottom: .5rem;
    
    }
    p{
        padding-bottom: .5rem;
    }
}


    .head{
        text-align: center;
    }
   
   .team-info-card{
       margin: 1rem 0;
   }
    .team-info-card img{
        width: 100%;
        margin:  auto;
        display: block;
        border-radius: 50%;
        padding: 2rem;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        padding:1rem 1rem;
         li{
             padding:1rem;
             border-radius:27px;
             background: linear-gradient(145deg, #c3b0b0, #e8d2d2);
             box-shadow:  12px 12px 25px #8d7f7f, 
             -12px -12px 25px #ffffff;
             
         }

         a{
             font-size: 1.5rem;
             color:$cl-black;
         }
        
    }
    



}















@media screen and (min-width:768px){
  
    .card{
        text-align: start;;
    }
   .team-grid{
       display: grid;
       grid-template-columns: repeat(5,1fr);
       grid-gap: 1rem;
   }

}