.add-view{
   
    background:linear-gradient(to bottom,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)),url('/assets/images/add_view/bg3.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    align-items: center;
    display: grid;
  

}

.fa-github, .fa-linkedin-in{
    text-shadow: 5px 5px 2px  black;
}

.text{
    padding:3rem
    
}

.text h2{
    color: $cl-blue;
}
.text h3{
    color: $cl-red;
}

.text h3,h4{
    padding-bottom: 1rem;
}

.text ul{
    list-style: circle;
}

.text li{
    padding-bottom: .4rem;
    color: gray;
}

.add-media{
    display: grid;
    align-items: center;
    justify-content: center;
}


//common style for all boxes
.add-con{
    text-align: center;
 display: flex;

 flex-direction: column;
 justify-content: space-around;
  margin-top: 1rem;
   padding: 1rem 2rem;
   width: 14rem;
   height: 14rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.5);

}

//facebook box
.fb-con{
    background: rgba(102, 34, 204, 1);
   
}



//twitter box
.twt-con{
    background: rgba(63, 136, 197, 1);
}

//linkedin box 

.lkdn-con{
    background: rgb(15, 38, 241);
}

// insta box

.insta-con{
    background: rgba(181, 148, 182,1);
}

//github box

.github-con{
    background: black;
}

// hastag box
.hstg-con{
    background:rgba(0, 0, 255, 0.9);
   
}


.btns{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    
    font-size: 1rem;

}

.btn{
    padding: .5rem .8rem;
    margin-top: 1rem;
}

.atn{
    background-color: $cl-red;
    color:white;
 
}

.overlay{
    background-color: $cl-black;
    color: white;
}

.add-con i{
    font-size: 3.5rem;
    color: white;
    text-shadow: 5px 5px 2px  black;
}




// authentication completed action

#click{
    display: none;
}


// desktop layout


@media screen and (min-width:768px){
    

    .add-media{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-gap: 2rem;
        padding: 2rem 0;
       background-position: center;
        margin: 0 auto;

    }

    .text{
        
        display: grid;
        align-items: center;
        justify-content: center;
        
    }
    .cm-con{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2rem;
    }
}