.add-hastag{
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/hashtag/bg1.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.twt-box blockquote{
    width: 30px;
    height: 20px;
}

.col-1{
    display: flex;
    flex-direction: column;
}

.hashtag .fa-search{
    font-size: 1.4rem;
    color: gray;
}

.hashtag i{
    color: white;
    font-size: 3rem;
    padding: 2rem;
}

.hashtag img{
   width: 250px;
   height: 200px;
   display: inline-block;
   margin-bottom: 1rem;
}
.hashtag input{
    width:70%;
    height:35px;
    border-radius: 27px;
    border:none
}

// .embed{
//     display: flex;
//     justify-content: space-around;
// }

.hashtag ::placeholder{
    padding: 1rem;
}
.box{
    // background-color:$cl-blue;
    background:linear-gradient(to right,rgba(70, 73, 233, 0.7),rgba(69, 59, 214, 0.7));
    margin-top: 1rem;
}

.hashtag button{
    position: relative;
    left: -30px;
    top: 3px;
    border: none;
}

.container-1{
    max-width: 1300px;
    margin: 0 auto;
    padding:0 32px
}


.add-db{
    border: none;
    font-size: 1rem;
    // background-color: $cl-white;
   
    color: $cl-black;
    padding: 1rem 1.5rem;
    border-radius: 27px;
    margin-top: 1rem;
    display: inline-block;

}



// desktop view


@media screen and (min-width:768px){

    .col{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
   
}