.header {
    padding: 0.5rem 0;
    background: darken($cl-white, 5%);
    a:not(.logo) {
        color: $cl-white;
        &:hover{
            color: $cl-blue;
        }
        @media screen and (min-width: 768px) {
            color: $cl-red;
        }
    }
}

#check {
    display: none;
}

.logo {
    span{
        font-size: 2.5rem;
        color: darken($cl-red, 5%);
    }
    img,
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.check-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.bar {
    display: block;
    width: 2rem;
    height: 3px;
    border-radius: 1px;
    background: $cl-white;
    margin: 3px 0;
}

.navbar li {
    text-align: center;
    margin: 5vh 0;
    font-weight: 700;
}

.navbar {
    display: none;
    padding-top: 2rem;
    background: transparentize($cl-black, 0.005);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 70vh;
    border-radius: 0 0 10px 10px;
}

#check:checked ~ .navbar {
    display: block;
}

#check:checked ~ .check-btn > .bar {
    position: absolute;
    right: 0;
}

#check:checked ~ .check-btn > .bar-1 {
    transform: rotate(45deg);
}

#check:checked ~ .check-btn > .bar-2 {
    display: none;
}

#check:checked ~ .check-btn > .bar-3 {
    transform: rotate(135deg);
}

.header {
    @media screen and (min-width: 768px) {
        .check-btn {
            display: none;
        }
        
        .header {
            background: #fff;
        }

        .navbar {
            display: block;
            position: static;
            height: auto;
            padding-top: 0;
            background: transparent;
            ul {
                display: flex;
            }
            li {
                margin: 0 0 0 1rem;
                width: 6.5rem;
            }
        }
        
    }
}