.header {
    padding: 0.5rem 0;
    box-shadow: 0.5rem 0.5rem 1rem #c9c9c6, -0.5rem -0.5rem 1rem rgba(255, 255, 255, 0.938);
    // box-shadow: inset 0.5rem 0.5rem 1rem #c9c9c6, inset -0.5rem -0.5rem 1rem rgba(255, 255, 255, 0.938);
    position: absolute;
    width: 100%;
    a:not(.logo) {
        color: $cl-white;
        border-radius: 0.5rem;
        @extend .link-hover-effect;
        @media screen and (min-width: 768px) {
            color: $cl-black;
        }
    }
}

#check {
    display: none;
}

.logo {
    span{
        font-size: 2.5rem;
        // color: darken($cl-red, 5%);
        color: $cl-black;
        font-family: $primary-font;
    }
    img,
    span {
        display: inline-block;
        vertical-align: middle;
    }
}

.check-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
    cursor: pointer;
}

.bar {
    display: block;
    width: 2rem;
    height: 3px;
    border-radius: 1px;
    background: $cl-red;
    margin: 3px 0;
}

.navbar li {
    text-align: center;
    margin: 5vh 0;
    font-weight: 700;
}

.navbar {
    display: none;
    background: transparentize($cl-black, 0.1);
    position: absolute;
    top: 13%;
    right: -100%;
    width: 70%;
    border-radius: 10px 0 0 10px;
}

#check:checked ~ .navbar {
    display: block;
    right: 0;
    animation: right 0.5s ease-in;
}

@keyframes right {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}

#check:checked ~ .check-btn > .bar {
    position: absolute;
    right: 0;
}

#check:checked ~ .check-btn > .bar-1 {
    transform: rotate(45deg);
}

#check:checked ~ .check-btn > .bar-2 {
    display: none;
}

#check:checked ~ .check-btn > .bar-3 {
    transform: rotate(135deg);
}

.header {
    @media screen and (min-width: 768px) {
        .check-btn {
            display: none;
        }
        
        .header {
            background: #fff;
        }

        .navbar {
            display: block;
            position: static;
            height: auto;
            padding-top: 0;
            background: transparent;
            width: auto;
            ul {
                display: flex;
            }
            li {
                margin: 0 0 0 1rem;
                width: 6.5rem;
            }
        }
        
    }
}