/*---------------------------------------------
Helper Code
---------------------------------------------*/
@mixin grid-repeat($column, $min-value, $max-value) {
  display: grid;
  grid-template-columns: repeat($column, minmax($min-value, $max-value));
}

@mixin neumorph($h1, $v1, $blur1, $color1, $h2, $v2, $blur2, $color2) {
  box-shadow: $h1 $v1 $blur1 $color1, $h2 $v2 $blur2 $color2;
}
