.overlay-list {
    text-align: center;
    max-width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 1rem;
    font-size: 1.5rem;
    background: $cl-white;
    border-radius: 2rem;
    a {
        color: $cl-blue;
    }
    li {
        padding: 1rem 1.5rem;
        margin: 1.2rem 0.5rem;
        border-radius: 1.5rem;
        @extend .btn-box-shadow;
        i {
            font-size: 2rem;
        }
        i:not(.fab){
            color: $cl-blue;
        }
        i:not(.fa-check-circle){
            display: none;
            @media screen and (min-width: 768px) {
                display: block;
            }
        }
    }
    .overlay-btn {
        display: inline-block;
        padding: 1rem 2.5rem;
    }
}

.fa-facebook-square {
    color: #0674E8;
}

.fa-instagram-square {
    background: linear-gradient(45deg, #f0a028, #DD2A7B, #6945cc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-emphasis-color: transparent;
}

.fa-linkedin {
    color: #0076B4;
}

.fa-github-square {
    color: #24292E;
}

.fa-twitter-square {
    color: #1DA1F2;
}