/*---------------------------------------------
Variables
---------------------------------------------*/

$cl-red: #da2c38;
$cl-white: #fffffa;
$cl-violet: #b594b6;
$cl-black: #1b2f33;
$cl-skyblue: #3f88c5;
$cl-blue: #6622cc;
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Nunito", sans-serif;
