/*---------------------------------------------
           Variables
---------------------------------------------*/

$cl-red:#DA2C38;
$cl-violet:#B594B6;
$cl-blue:#3F88C5;
$cl-green: #2ecc40;
$cl-white: #e6e7ee;
$cl-black: #31344b;
$primary-font:'Josefin Sans', sans-serif;
$secondary-font:'Nunito', sans-serif;
