/*---------------------------------------------
           Variables
---------------------------------------------*/

$cl-red:#DA2C38;
$cl-white:#FFFFFA;
$cl-violet:#B594B6;
$cl-black:#1B2F33;
$cl-skyblue:#3F88C5;
$cl-blue:#6622CC;
$primary-font:'Josefin Sans', sans-serif;
$secondary-font:'Nunito', sans-serif;
