/*---------------------------------------------
This website has the following key design decisions:

(a) This website was designed Mobile First. You will find all the media queries will adjust the view accordingly for the larger layouts.

(b) We absolutely adore the neumorphic design style and it makes a lot of sense to choose neumorphic styling for a minimal dashboard app.

(c) Almost all our images and illustrations are SVGs including icons and background images. Where it was possible, we have also included them internally.

---------------------------------------------*/
/*====  css reset  ====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;1,400&family=Nunito:ital,wght@0,200;0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------------------------
Helper Code
---------------------------------------------*/
/*---------------------------------------------
Global
---------------------------------------------*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.neumorph-inset, .btn:hover, .overlay-list-card label:hover, .dashboard-card:hover, .edit-profile__text__name__input, .edit-profile__text__email__input, .edit-profile__text__password__input, .numero-home__banner__login-form input {
  -webkit-box-shadow: inset 0.5rem 0.5rem 1rem #c9c9c6, inset -0.5rem -0.5rem 1rem #ffffffef;
          box-shadow: inset 0.5rem 0.5rem 1rem #c9c9c6, inset -0.5rem -0.5rem 1rem #ffffffef;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  color: #31344b;
}

.icons-neu-effect, .add-view .add-view-icon, .view-details__icon {
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.padding {
  padding: 4rem 0;
}

@media screen and (min-width: 768px) {
  .padding {
    padding: 6rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .padding {
    padding: 8rem 0;
  }
}

.padding-bottom {
  padding-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .padding-bottom {
    padding-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

/*---------------------------------------------
Typography
---------------------------------------------*/
html {
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #31344b;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.5rem;
}

a {
  text-decoration: none;
}

/*---------------------------------------------
Icon Styles
---------------------------------------------*/
.fa-linkedin,
.fa-github-square,
.fa-twitter-square,
.fa-facebook-square,
.fa-instagram-square {
  color: #31344b;
}

.fa-instagram-square:hover {
  background: linear-gradient(45deg, #f0a028, #dd2a7b, #6945cc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-emphasis-color: transparent;
          text-emphasis-color: transparent;
}

/*---------------------------------------------
Animation
---------------------------------------------*/
@-webkit-keyframes move-to-right {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes move-to-right {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes move-to-bottom {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes move-to-bottom {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

/*---------------------------------------------
Component - Header
---------------------------------------------*/
.numero-header {
  padding: 0.5rem 0;
  -webkit-box-shadow: 0px 0px 4px #31344b;
          box-shadow: 0px 0px 4px #31344b;
  background-color: #e6e7ee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.numero-header a:not(.logo) {
  color: #31344b;
}

.numero-header a:not(.logo):hover {
  color: #3f88c5;
}

.numero-header a:not(.logo):active {
  color: #b594b6;
}

.numero-header a:not(.logo):focus {
  color: #b594b6;
}

.numero-header #hamburger {
  display: none;
}

.numero-header__logo span {
  font-size: 2.5rem;
  color: #31344b;
  font-family: "Josefin Sans", sans-serif;
}

.numero-header__logo img,
.numero-header__logo span {
  width: 3rem;
  display: inline-block;
  vertical-align: middle;
}

.numero-header__check-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 12;
  cursor: pointer;
}

.numero-header__bar {
  display: block;
  width: 2rem;
  height: 3px;
  border-radius: 1px;
  background: #31344b;
  margin: 3px 0;
}

.numero-header__navbar {
  display: none;
  background: #e6e7ee;
  color: #31344b;
  position: absolute;
  top: 13%;
  right: -100%;
  width: 70%;
  border-radius: 10px 0 0 10px;
}

.numero-header__navbar li {
  text-align: center;
  margin: 5vh 0;
  font-weight: 700;
}

#hamburger:checked ~ .numero-header__navbar {
  display: block;
  right: 0;
  -webkit-animation: move-to-right 0.5s ease-in;
          animation: move-to-right 0.5s ease-in;
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

#hamburger:checked ~ .numero-header__check-btn > .numero-header__bar {
  position: absolute;
  right: 0;
}

#hamburger:checked ~ .numero-header__check-btn > .numero-header__bar-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#hamburger:checked ~ .numero-header__check-btn > .numero-header__bar-2 {
  display: none;
}

#hamburger:checked ~ .numero-header__check-btn > .numero-header__bar-3 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media (min-width: 768px) {
  .numero-header__check-btn {
    display: none;
  }
  .numero-header__navbar {
    display: block;
    position: static;
    height: auto;
    padding-top: 0;
    background: transparent;
    width: auto;
  }
  .numero-header__navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .numero-header__navbar li {
    margin: 0 0 0 1rem;
    width: 6.5rem;
  }
}

/*---------------------------------------------
Component - Footer
---------------------------------------------*/
.numero-footer {
  border-top: 1px solid #bbb;
  text-align: center;
  padding: 2rem;
  background-color: #e6e7ee;
  color: #31344b;
}

.numero-footer a:not(.logo) {
  color: #31344b;
}

.numero-footer a:not(.logo):hover {
  color: #3f88c5;
}

.numero-footer a:not(.logo):active {
  color: #b594b6;
}

.numero-footer a:not(.logo):focus {
  color: #b594b6;
}

.numero-footer__nav-items {
  max-width: 22rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.numero-footer__nav-item a {
  font-weight: 700;
}

.numero-footer__nav-item img {
  width: 2rem;
}

/*---------------------------------------------
Page - Add View
---------------------------------------------*/
.add-view {
  background: #e6e7ee;
  padding: 5rem 0;
}

.add-view .add-card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.add-view .btn-hashtag {
  cursor: pointer;
}

.add-view .add-view-card {
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  border-radius: 1.5rem;
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.add-view .add-view-card .add-btn-wraper {
  text-align: center;
  cursor: pointer;
}

.add-view .add-view-icon {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.5rem;
  height: 4.5rem;
}

.add-view .add-view-icon img {
  width: 3rem;
  height: 3rem;
}

.add-view .add-option-wrapper {
  margin: 1rem 0;
}

.add-view .add-option-wrapper div {
  margin: 0.5rem 0;
}

.add-view .add-option-wrapper input {
  margin: 0 1rem;
}

.add-view .add-view-info {
  text-align: center;
  max-width: 45rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.add-view .add-view-info h3 {
  display: none;
}

@media (min-width: 768px) {
  .add-view .add-view-info h3 {
    display: block;
    padding: 0.4rem 0;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    margin: 0 0 1rem 0;
  }
}

.add-view .add-view-info p {
  display: none;
}

@media (min-width: 768px) {
  .add-view .add-view-info p {
    display: block;
    padding: 0.3rem 0;
    line-height: 1.8;
  }
}

/*---------------------------------------------
Page - Authentication confirmation
---------------------------------------------*/
.overlay-list-card {
  text-align: center;
  position: absolute;
  top: -100%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 7rem 1rem 2rem 1rem;
  background: #e6e7ee;
  border-radius: 2rem;
  -webkit-animation: move-to-bottom 0.5s ease-in forwards;
          animation: move-to-bottom 0.5s ease-in forwards;
}

.overlay-list-card h3 {
  padding-bottom: 1rem;
}

.overlay-list-card a {
  color: #3f88c5;
}

.overlay-list-card label {
  padding: 0.8rem 1.5rem;
  margin: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 0.5rem 0.5rem 0.5rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.overlay-list-card label img {
  width: 2rem;
  height: 2rem;
  margin: 0 0.7rem;
}

.overlay-list-card .overlay-btn-wrapper {
  margin-top: 2rem;
}

.overlay-list-card .overlay-btn-wrapper a {
  color: #31344b;
}

#overlay {
  display: none;
}

.overlay-wrapper {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#overlay:checked ~ .overlay-unchecked > .overlay-wrapper {
  display: block;
  background: rgba(63, 136, 197, 0.2);
  height: 100%;
  width: 100%;
}

#tick-instagram,
#tick-github,
#tick-twitter {
  display: none;
}

.tick-mark {
  display: none;
}

#tick-instagram:checked ~ .loged-in-instagram > .tick-mark {
  display: block;
}

#tick-github:checked ~ .loged-in-github > .tick-mark {
  display: block;
}

#tick-twitter:checked ~ .loged-in-twitter > .tick-mark {
  display: block;
}

/*---------------------------------------------
Page - dashboard
---------------------------------------------*/
@media (min-width: 768px) {
  .dashboard {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(330px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(330px, 1fr));
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.dashboard-main {
  background: #e6e7ee;
  padding: 10rem 0 4rem 0;
}

.dashboard-main .add-view-btn {
  font-size: 2rem;
  color: #e6e7ee;
  background-color: #31344b;
  position: fixed;
  padding: 1rem;
  bottom: 4%;
  right: 5%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px #2a2c40, 0px 0px 4px #383c56;
          box-shadow: 0 0 4px #2a2c40, 0px 0px 4px #383c56;
}

@media screen and (min-width: 768px) {
  .dashboard-main .add-view-btn {
    font-size: 1rem;
  }
}

.dashboard-main .add-view-btn img {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media (min-width: 768px) {
  .dashboard-main .add-view-btn img {
    display: none;
  }
}

.dashboard-main .add-view-btn span {
  margin-left: 0.5rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .dashboard-main .add-view-btn span {
    display: inline-block;
    line-height: 1;
  }
}

.dashboard-description {
  text-align: center;
  padding-bottom: 1.5rem;
}

.dashboard-card {
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
  border-radius: 1.5rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1rem 0;
  color: #31344b;
  display: block;
}

.dashboard-card .dboard-number-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dashboard-card .dboard-number-section .text-label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.3;
}

.dashboard-card .dboard-number-section div {
  margin-bottom: 1rem;
  padding: 0 0.2rem;
}

.dashboard-card .dboard-icon-section {
  margin-bottom: 2rem;
}

.dashboard-card .dboard-icon-section img {
  width: 3rem;
  height: 2rem;
  padding-left: 0.5rem;
}

.dashboard-card .dboard-icon-section label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}

.dashboard-card .dboard-icon-section .fa-minus-circle {
  font-size: 1.7rem;
  color: #31344b;
}

.dashboard-card .dboard-icon-section .fa-minus-circle:hover {
  color: #da2c38;
}

.dashboard-card .dboard-icon-section h3 {
  line-height: 1.9;
}

.dashboard-card .num-label {
  font-size: 2rem;
  line-height: 0.9;
}

.dashboard-card i {
  font-size: 2.5rem;
  display: inline-block;
  margin-left: 0.5rem;
}

.dashboard-card .fa-sort-up,
.dashboard-card .fa-sort-down {
  font-size: 1.5rem;
}

.dashboard-card .fa-sort-down {
  height: 1.8rem;
  color: #da2c38;
}

.dashboard-card .fa-sort-up {
  height: 1.2rem;
  color: #2ecc40;
}

#facebook-remove,
#instagram-remove,
#linkedin-remove,
#github-remove,
#twitter-remove,
#hashtag-remove {
  display: none;
}

#facebook-remove:checked ~ .facebook-dashboard-card,
#instagram-remove:checked ~ .instagram-dashboard-card,
#linkedin-remove:checked ~ .linkedin-dashboard-card,
#github-remove:checked ~ .github-dashboard-card,
#twitter-remove:checked ~ .twitter-dashboard-card,
#hashtag-remove:checked ~ .hashtag-dashboard-card {
  display: none;
}

/*---------------------------------------------
Page - Edit Profile
---------------------------------------------*/
.edit-profile-main {
  background-color: #e6e7ee;
  padding-top: 10rem;
}

@media (min-width: 1024px) {
  .edit-profile-main {
    height: 100vh;
  }
}

.edit-profile-main h1 {
  text-align: center;
  margin: 0 auto 3rem auto;
  padding: 0 2rem;
}

.edit-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-profile__image {
  width: 100px;
  margin: 0 auto 3rem auto;
}

.edit-profile__image img {
  width: 100%;
  display: block;
}

.edit-profile__text {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.edit-profile__text__name > *,
.edit-profile__text__email > *,
.edit-profile__text__password > * {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin: 1rem 0;
}

.edit-profile__text__name label,
.edit-profile__text__email label,
.edit-profile__text__password label {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.edit-profile__text__name__input, .edit-profile__text__email__input, .edit-profile__text__password__input {
  color: gray;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  outline: none;
}

.edit-profile__actions {
  margin: 3rem auto;
}

@media all and (min-width: 768px) {
  .edit-profile__image {
    width: 250px;
  }
  .edit-profile__image img {
    width: 80%;
    display: block;
  }
}

/*---------------------------------------------
Page - Profile
---------------------------------------------*/
.profile-main {
  padding-top: 10rem;
  background-color: #e6e7ee;
}

@media (min-width: 1024px) {
  .profile-main {
    height: 100vh;
  }
}

.profile-main h1 {
  text-align: center;
  margin: 0 auto 3rem auto;
  padding: 0 2rem;
}

.profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__image {
  width: 100px;
  margin: 0 auto 3rem auto;
}

.profile__image img {
  width: 100%;
  display: block;
}

.profile__text {
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.profile__text__name > *,
.profile__text__email > *,
.profile__text__password > * {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  margin: 1rem 0;
}

.profile__text__name__value, .profile__text__email__value, .profile__text__password__value {
  color: grey;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.profile__actions {
  margin: 3rem auto;
}

@media all and (min-width: 768px) {
  .profile__image {
    width: 250px;
  }
  .profile__image img {
    width: 80%;
    display: block;
  }
}

/*---------------------------------------------
Team
---------------------------------------------*/
.team {
  background: #e6e7ee;
}

.team__info {
  padding: 6rem 2rem 3rem 2rem;
}

.team__info__cards {
  margin: 3rem 0;
}

.team__info__cards img {
  width: 100%;
  display: block;
}

.team__info__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  color: #31344b;
  border-radius: 2%;
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.team__info__card small {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 0.8rem;
}

.team__info__card h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.team__info__card p {
  padding-bottom: 0.5rem;
}

.team__info__card .card__img {
  background-color: #b594b6;
  border-radius: 2% 2% 0 0;
}

.team__info__card .card__img:hover {
  background: none;
  cursor: pointer;
}

.team__info__card .card__img img {
  opacity: 0.6;
  border-radius: 2% 2% 0 0;
}

.team__info__card .card__txt {
  padding: 1.5rem;
}

.team__info__card .card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team__info__card .card__icons img {
  width: 2rem;
  height: 2rem;
}

.team__info__heading {
  text-align: center;
  margin: 2rem 0;
}

@media screen and (min-width: 768px) {
  .team__info {
    padding: 8rem 2rem 4rem 2rem;
  }
  .team__info__card {
    text-align: left;
  }
  .team__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
  }
}

/*---------------------------------------------
View Details
---------------------------------------------*/
.view-details__body {
  background-color: #e6e7ee;
}

.view-details {
  margin-top: 10rem;
}

.view-details h3 {
  margin: 2rem 0;
}

.view-details .hero {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-details .hero h2 {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  text-align: center;
  margin-top: 1rem;
}

.view-details__icon {
  width: 4.5rem;
  height: 4.5rem;
}

.view-details__icon img {
  width: 3rem;
}

.view-details__charts__area-graph, .view-details__charts__pie-chart, .view-details__charts__bar-graph {
  width: 100%;
  margin: 5rem auto;
}

.view-details__charts__pie-chart {
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 70px;
  text-align: center;
}

@media (min-width: 768px) {
  .view-details__charts__pie-chart {
    width: 80%;
  }
}

/*---------------------------------------------
Home Page
---------------------------------------------*/
.numero-home header {
  background-color: rgba(255, 255, 255, 0.5);
}

.numero-home h2 {
  line-height: 1.3;
  font-weight: 100;
  font-size: 5rem;
  padding-bottom: 0.8rem;
}

.numero-home .hard {
  font-weight: 700;
}

.numero-home__banner {
  background: url("../../assets/images/background/data-points.svg");
  background-color: #e6e7ee;
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  color: #31344b;
  padding-top: 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numero-home__banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.numero-home__banner__info .subtext {
  font-weight: 700;
  font-size: 1.5rem;
}

.numero-home__banner__info p {
  padding-bottom: 1rem;
}

.numero-home__banner__login-form {
  display: block;
  padding: 4rem 0;
  margin: 0 1rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.numero-home__banner__login-form input {
  border: none;
  margin-bottom: 1.3rem;
  width: 70%;
  padding: 0.8rem;
  outline: none;
  background: none;
  border-radius: 10px;
  background: #e6e7ee;
}

.numero-home__banner__login-form input :focus {
  border: none;
}

.numero-home__banner__login-form .name-input {
  margin: 0 auto;
}

.numero-home__banner__login-form .signup-btn-1 {
  width: 8rem;
  margin: 1rem auto 0 auto;
}

.numero-home__banner__login-form ::-webkit-input-placeholder {
  padding: 1rem 0rem 2rem 0.5rem;
  font-size: 1rem;
}

.numero-home__banner__login-form :-ms-input-placeholder {
  padding: 1rem 0rem 2rem 0.5rem;
  font-size: 1rem;
}

.numero-home__banner__login-form ::-ms-input-placeholder {
  padding: 1rem 0rem 2rem 0.5rem;
  font-size: 1rem;
}

.numero-home__banner__login-form ::placeholder {
  padding: 1rem 0rem 2rem 0.5rem;
  font-size: 1rem;
}

.numero-home__banner__login-form .login-btn {
  margin-top: 0.4rem;
  border: none;
  font-size: 1.1rem;
}

.numero-home__banner__login-form .signup-part {
  margin-top: 1rem;
  text-align: center;
}

.numero-home__banner__login-form .signup-part .signup-btn {
  font-size: 1.1rem;
  margin-top: 1rem;
  background: #e6e7ee;
}

.numero-home__banner .icon-dashboard {
  display: none;
}

.numero-home__about {
  background-color: #e6e7ee;
  background-image: url(../../assets/images/background/Dalmatian-Spots.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #31344b;
}

.numero-home__about__image img {
  width: 80%;
}

.numero-home__about__info p {
  padding-top: 1rem;
}

.numero-home__all-features {
  background-color: #e6e7ee;
  text-align: center;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .numero-home__all-features {
    padding: 6rem 0;
  }
}

.numero-home__all-features .grid-col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.numero-home__all-features .feature-container {
  max-width: 80rem;
  margin: 0 auto;
}

.numero-home__all-features h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.numero-home__all-features img {
  width: 3rem;
  padding-bottom: 1rem;
}

.numero-home__all-features .numero-home__feature {
  margin: 2rem;
  padding: 2.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
          box-shadow: 1rem 1rem 1rem #dadada, -0.1rem -0.1rem 0.1rem #f3f3f3, inset 1rem 1rem 1rem #e4e4e4;
}

.numero-home__trust {
  background-image: url(../../assets/images/background/Dalmatian-Spots.svg);
}

.numero-home__trust img {
  width: 100%;
  background-image: url(../../assets/images/background/Dalmatian-Spots.svg);
}

.numero-home__trust-info {
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .numero-home__trust-info {
    padding: 0 4rem;
  }
}

.numero-home__trust-info h3 {
  padding: 2rem 0;
  font-size: 2rem;
}

.numero-home__trust-info p {
  padding-top: 1rem;
}

.numero-home__trust__img {
  font-size: 0;
}

@media (min-width: 768px) {
  .numero-home .order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .numero-home__banner {
    height: 60vh;
    padding-top: 5rem;
  }
  .numero-home__banner__info {
    margin: 0 1rem;
  }
  .numero-home .grid-col-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .numero-home__about .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .numero-home__banner {
    height: 100vh;
  }
}

#get-signup {
  display: none;
}

.name-input,
.signup-btn-1 {
  display: none;
}

#get-signup:checked ~ .numero-home__banner__login-form > form > .name-input {
  display: block;
}

#get-signup:checked ~ .numero-home__banner__login-form > form > .login-btn {
  display: none;
}

#get-signup:checked ~ .numero-home__banner__login-form > .signup-part {
  display: none;
}

#get-signup:checked ~ .numero-home__banner__login-form > form > .signup-btn-1 {
  display: block;
}
