/*
Error: Invalid CSS after "@import "addView"": expected "{", was ";"
        on line 6 of main.scss

1: @import "variable";
2: @import "reset";
3: @import "global";
4: @import "typography";
5: <<<<<<< HEAD
6: @import "addView";
7: =======
8: @import "header";
9: @import "overlay";
10: @import "dashboard";
11: >>>>>>> 3563283b35587619d9e2b0762858dceac5e4cc1c

Backtrace:
main.scss:6
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1207:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1137:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1132:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:665:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:658:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:684:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:677:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:125:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:331:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \"addView\"\": expected \"{\", was \";\"\A         on line 6 of main.scss\A \A 1: @import \"variable\";\A 2: @import \"reset\";\A 3: @import \"global\";\A 4: @import \"typography\";\A 5: <<<<<<< HEAD\A 6: @import \"addView\";\A 7: =======\A 8: @import \"header\";\A 9: @import \"overlay\";\A 10: @import \"dashboard\";\A 11: >>>>>>> 3563283b35587619d9e2b0762858dceac5e4cc1c"; }
